*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html
{
    scroll-behavior: smooth;
}

body
{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header
{
    background-color: rgb(136, 242, 207);
}
main
{
    background-color: rgb(239, 232, 223);
    flex: 1;

    display: flex;

}
aside
{
    background-color: rgb(140, 93, 93);
    flex: 1;
}
section
{
    background-color: rgb(225, 241, 132);
    flex: 3;

    border: 1px solid rgb(70, 69, 69);
}
.listTasks
{
    background-color: cornsilk;
}
footer
{
    background-color: rgb(135, 195, 244);
}